.container
  %h1
    EOSC Marketplace will be back soon
  %p.mt-3
    Service is currently unavailable while we make upgrades to improve our service to you.
    We apologize for the inconvenience and appreciate your patience.
